.header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    /* border: 2px solid black; */
    height: 10vh;
}

@media only screen and (max-width: 950px) {
    .cart__productDetails {
        font-size: 1rem;
    }
    .cart__productDetails > p {
        max-height: 2em;
        overflow: hidden;
        display: -webkit-box;
        line-height: 1em;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 2;
    }
}

@media only screen and (max-width: 500px) {
    .header {
        width: 100%;
    }
    .cart__product {
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
    }
    .cart__productDetails {
        padding: 1rem;
        border: 1px solid lightgray;
    }

    .cart__productDetails > p {
        max-height: 2em;
        overflow: hidden;
        display: -webkit-box;
        line-height: 1em;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 2;
    }
}

.header__text {
    font-weight: 900;
    font-size: 1.5rem;
}

.header__location {
    display: flex;
    align-items: center;
}

.header__location > img {
    width: 25px;
    height: 25px;
}

.cart__product {
    display: flex;
    margin: 1rem;
    justify-content: space-between;
    border: 2px solid lightgray;
    box-shadow: 5px 10px lightgray;
}

.cart__product > div {
    margin: 2rem;
    /* padding: 2rem; */
}
.cart__productImage > img {
    width: 100%;
    height: 35vh;
    /* border: 2px solid black; */
}
